<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="stylesheets/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="stylesheets/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="stylesheets/shCore.css"> 
	<link rel="stylesheet" href="stylesheets/shThemeRDark.css"> 
	<script src="javascripts/modernizr.js"></script> <!-- Modernizr -->
	<title>FormBuilder Documentation | Craft CMS Plugin</title>
</head>
<body>
<header>
	<h1>FormBuilder Documentation
		<span>
			<a href="https://github.com/roundhouse/FormBuilder-Craft-CMS">View on GitHub</a> |
			<a href="https://github.com/roundhouse/FormBuilder-Craft-CMS/archive/master.zip">Download</a>
		</span>
	</h1>
</header>
<a href="https://github.com/roundhouse/FormBuilder-Craft-CMS"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
<section class="cd-faq">
	<ul class="cd-faq-categories">
		<li><a class="selected" href="#basics">Installation</a></li>
		<li><a href="#createfields">Create Fields</a></li>
		<li><a href="#createforms">Create Forms</a></li>
		<li><a href="#displayform">Display Form</a></li>
		<li><a href="#requiredfields">Required Fields</a></li>
	</ul> <!-- cd-faq-categories -->

	<div class="cd-faq-items">
		<p class="body-copy">FormBuilder is a Craft CMS plugin that lets you create forms for your front-end. Each form can have submission notification sent to form admin as well as submitter. All submission entries are saved to the database. You can easily view/update forms from the plugin's control panel. Form entries are also displayed on the plugin's entries page. You can view submissions and delete them if you want.</p>
		<ul id="basics" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Installation</h2></li>
			<div class="block">
				<p><span>1</span> Download the plugin from github <code>git@github.com:roundhouse/FormBuilder-Craft-CMS.git</code></p>
			</div>

			<div class="block">
				<p><span>2</span> Rename the folder to <code>FormBuilder</code> and place it into your Craft CMS Plugin directory.</p>
			</div>

			<div class="block">
				<p><span>3</span> Navigate to your plugins page <code>/settings/plugins</code> and click Install</p>
				<img src="images/1.1.png" />
			</div>

			<div class="block">
				<p><span>4</span> New menu will appear in your toolbar called <code>FormBuilder</code>.</p>
				<img src="images/1.2.png" />
			</div>
		</ul> <!-- cd-faq-group -->





		<ul id="createfields" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Create Fields</h2></li>
			<div class="block">
				<p><span>1</span> Got to Settings->Fields and hit "+ New Field"</p>
			</div>

			<div class="block">
				<p><span>2</span> Fill out the field's information.  Make sure to use | FormBuilder | fields only</p>
			</div>
		</ul>


		<ul id="createforms" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Create Forms</h2></li>
			<div class="block">
				<p><span>1</span> Go back to FormBuilder forms page and hit "+ New Form"</p>
				<img src="images/1.3.png" /><br />
				<h2 class="subheading">Form Settings</h2>
				<h3><span class="bold">Form Name</span> - Enter name of your form</h3>
				<h3><span class="bold">Handle</span> - Will be generated automatically</h3>
				<h3><span class="bold">Email Subject</span> - This will be subject line for email notifications</h3>
				<h3><span class="bold">Use AJAX?</span> - Check this if you want the form submission via ajax, this will use javascript to validate 'required' fields</h3>
				<h3><span class="bold">Redirect To Success Page</span> - Check if you want to redirect to a success page (ex: "/thank-you")</h3>
				<h3><span class="bold">Redirect URL</span> - Enter url to a success page</h3>
				<h2 class="subheading">Messages</h2>
				<h3><span class="bold">Success Message</span> - Enter success message for form submissions</h3>
				<h3><span class="bold">Error Message</span> - Enter error message for form submissions</h3>
				<h2 class="subheading">Notifications</h2>
				<h3><span class="bold">Send Notification?</span> - Check this if you want to notify form owner of form submission</h3>
				<h3><span class="bold">To Email</span> - Enter email where the submission notification will be sent to?</h3>
				<h3><span class="bold">Email Template Path</span> - Path where the email template lives</h3>
				<h3><span class="bold">Notify Registrant?</span> - Check this if you want to notify the form submitter of their successful submission. <span class="note">You need to first save the form for this to show up.</span></h3>
				<h3><span class="bold">Registrant Email Template Path</span> - Path where the email template lives</h3>
				<h3><span class="bold">Notification Field</span> - Path where the email template lives. <span class="note">You must first add some fields to the fields section and save the form for this to show up. Also this field requires "| FormBuilder | Email Address" fieldtype to be used.</span></h3>
				<h2 class="subheading">Fields</h2>
				<h3><span class="bold">Fieldsets</span> - You can create many fieldsets by hitting "Add Fieldset"</h3>
				<h3><span class="bold">Create New Field</span> - This will redirect you to settings->fields where you can create a new field</h3>
			</div>

			<div class="block">
				<p>Save! Now your form is ready for use. Take note of the form Handle, we will use that in the next steps to display our Subscription Form.</p>
				
			</div>
		</ul>

		<ul id="displayform" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Display Form</h2></li>
			<div class="block">
				<p><span>Line 8</span> Enter form handle name here.</p>
			</div>

			<div class="block">
				<pre class="brush: php">
					{#
					 # Contact Form Sample Code
					 # ------------------------
					 #}

					{% extends "_layout" %}

					{% set form = craft.formBuilder.getFormByHandle('ENTER YOUR FORM HANDLE HERE') %}
					{% set tabs = form.fieldLayout.getFieldLayout().getTabs() %}
					{% set pluginScripts = craft.formBuilder.pluginScripts(form) %}

					{% block content %}
					  <h1>{{ entry.title }}</h1>

					  <form method="post" accept-charset="utf-8" name="{{ form.handle }}" class="formbuilder-form" id="{{ form.handle }}" data-parsley-errors-container=".formbuilder-notification">
					    <input type="hidden" name="action" value="formBuilder/entries/saveFormEntry">
					    <input type="hidden" name="redirect" data-redirect="{{form.successPageRedirect}}" value="{{form.redirectUrl}}">
					    <input type="hidden" name="formHandle" value="{{form.handle}}">
					    
					    {% for tab in tabs %}
					      {% set fields = tab.getFields() %}
					      
					      <fieldset class="{{loop.index}}">
					        <legend>{{ tab.name }}</legend>
					        {% for field in fields %}
					          {% set input = craft.formBuilder.getInputHtml(field) %}
					          {{ input | raw }}
					        {% endfor %} 
					      </fieldset>
					    {% endfor %}
					    
					    {# Error/Success Messages #}
					    {% if craft.session.hasFlash('error') or craft.session.hasFlash('success') %}
					      {% if craft.session.hasFlash('error') %}<div class="formbuilder-notification"><p class="error-message">{{ craft.session.getFlash('error') | raw }}<p></div>{% endif %}
					      {% if craft.session.hasFlash('success') %}<div class="formbuilder-notification success"><p class="success-message">{{ craft.session.getFlash('success') | raw }}</p></div>{% endif %}
					    {% else %}
					      <div class="formbuilder-notification"></div>
					    {% endif %}

					    <button type="submit">Submit Message</button>


					  </form>

					{% endblock %}
				</pre>
			</div>

			<div class="block">
				<p>Thats it, your form should now render with your fields.</p>
			</div>
		</ul>

		<ul id="requiredfields" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Required Fields</h2></li>
			<div class="block">
				<p>If you want to make required fields you can do that by clicking on the "cog" icon in the Fields section. See screenshot. This will add HTML5 "required" attribute to the input field. If your form uses Ajax to post submissions, javascript will validate those fields (using Parsleyjs).</p>
				<img src="images/1.4.png" />
			</div>
		</ul>

	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->
<script src="javascripts/jquery-2.1.1.js"></script>
<script src="javascripts/jquery.mobile.custom.min.js"></script>
<script src="javascripts/shCore.js"></script>
<script src="javascripts/shBrushPhp.js"></script>
<script src="javascripts/main.js"></script> <!-- Resource jQuery -->
</body>
</html>