#page-header { padding: 5px 0; }
#page-header > h1 { display: none; }
#page-header .github-badges::after { clear: both; content: ""; display: table; }
#page-header .github-badges a { float: left; margin-right: 4px; }

#extra-headers a { display: block; outline: none; }
#extra-headers .icon { float: left; margin-top: 14px; }
#extra-headers #layers { width: 40px; height: 40px; }
#extra-headers #layers * { -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; }
#extra-headers:hover #layer3 { -webkit-transform: translateY(5px); -moz-transform: translateY(5px); -ms-transform: translateY(5px); -o-transform: translateY(5px); transform: translateY(5px); -webkit-transition-delay: 0.2s; -moz-transition-delay: 0.2s; transition-delay: 0.2s; }
#extra-headers:hover #layer2 { -webkit-transform: translateY(5px); -moz-transform: translateY(5px); -ms-transform: translateY(5px); -o-transform: translateY(5px); transform: translateY(5px); -webkit-transition-delay: 0.1s; -moz-transition-delay: 0.1s; transition-delay: 0.1s; }
#extra-headers:hover #layer1 { -webkit-transform: translateY(5px); -moz-transform: translateY(5px); -ms-transform: translateY(5px); -o-transform: translateY(5px); transform: translateY(5px); }

#entryDetails header h1 { font-weight: bold; margin-bottom: 10px; }
#entryDetails header h1 span { display: block; padding-top: 5px; color: black; font-size: 12px; }
#entryDetails header h2 { margin: 0; font-size: 12px; }
#entryDetails header h2 span { color: #da5a47; }

#create-form h1 { position: relative; margin-bottom: 0; cursor: pointer; }
#create-form h1:before, #create-form h1:after { content: ""; display: block; background: #f07575; height: 2px; width: 10px; position: absolute; top: 17px; right: 20px; -webkit-transition: all 0.4s cubic-bezier(0.82, 0.17, 0.04, 0.85); -moz-transition: all 0.4s cubic-bezier(0.82, 0.17, 0.04, 0.85); transition: all 0.4s cubic-bezier(0.82, 0.17, 0.04, 0.85); opacity: .5; }
#create-form h1:before { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); }
#create-form h1.active:before, #create-form h1.active:after { opacity: 1; }
#create-form h1.active:before { -webkit-transform: rotate(0); -moz-transform: rotate(0); -ms-transform: rotate(0); -o-transform: rotate(0); transform: rotate(0); }
#create-form h1:hover:before, #create-form h1:hover:after { opacity: 1; }
#create-form .fieldset { margin-top: 24px; }
#create-form .fieldset.child { margin-top: 10px; }
#create-form .fieldset.settings div:nth-child(5) { margin-bottom: 0; }
#create-form .fieldset.settings div:nth-child(8) { margin-bottom: 0; }
#create-form .fieldset.notifications div:nth-child(1) { margin-bottom: 0; }
#create-form .fieldset.notifications div:nth-child(3) { margin-bottom: 0; }
#create-form input[type=text] { box-shadow: none; border: 1px solid rgba(0, 0, 0, 0.2); padding: 12px; -webkit-transition: border 0.5s ease; -moz-transition: border 0.5s ease; transition: border 0.5s ease; }
#create-form input[type=text]:focus { border: 1px solid rgba(0, 0, 0, 0.5); }

#notifications-container { width: 100%; height: 100%; }
#notifications-container hr { margin: 14px 0 !important; }

#fields-container #fieldlayoutform { margin-top: 24px; }
